PORT=5007
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/smart_canteen?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=https://smart-canteen-five-eta.vercel.app
